form {  

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url(billetera.webp);
        background-size: cover;
        font-family: Arial;

}

.container {
        perspective: 1000 px;
}
.flip-card{
        width: 300px;
        height:400px;
        position:relative;
        transform-style: preserve-3d;
        background-color: rgb(225, 225, 255,0.7);
        border-radius: 10px;
}
.flip-card-inner{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        transform-style: preserve-3d;
        transition:  transform 0.6s;
}


.flip-card-front{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
}

input{

        margin-bottom: 10px;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid cyan
}

button{
        padding: 10px;
        font-size: 1rem;
        background-color: rgba(87, 132, 255, 0.537);
        
}
small {
        margin: 10px;
}

main {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
}
p {
                justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
}
